*{
    margin:0;
    padding: 0;
}
a{
    text-decoration:none;
    
}
body{
    background-color: rgb(129, 129, 129);
    color: rgb(255, 255, 255);
    font-size: 26px;
}
h1{
    color: rgb(255, 255, 255);
}
.container{
    width: 80%; 
    margin: auto;
    
}
.box-1{
    width: 80%; 
    margin: auto;
    padding: 15px;
    background-color: black;
    border:2px blue solid;
}
/*47:00
